<div style="height: 80vh;">
    <mat-toolbar class="hero">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
            <span fxHide fxShow.gt-sm>Pin Manager</span>
            <span class="spacer"></span>
            <img src="../assets/logo.png" class="logo" alt="Injectronic">

        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav mode="push">
            <mat-nav-list>
                <a>
                    <mat-list-item>
                        <mat-icon mat-list-icon>manage_accounts</mat-icon>
                        <h4 mat-line>Distribuidores</h4>
                    </mat-list-item>
                </a>
                <a>
                    <mat-list-item>
                        <mat-icon mat-list-icon>support</mat-icon>
                        <h4 mat-line>Ayuda</h4>
                    </mat-list-item>
                </a>
                <a>
                    <mat-list-item>
                        <mat-icon mat-list-icon>get_app</mat-icon>
                        <h4 mat-line>Descargas</h4>
                    </mat-list-item>
                </a>
                <a>
                    <mat-list-item>
                        <mat-icon mat-list-icon>military_tech</mat-icon>
                        <h4 mat-line>Garantia</h4>
                    </mat-list-item>
                </a>
                <a>
                    <mat-list-item>
                        <mat-icon mat-list-icon>ondemand_video</mat-icon>
                        <h4 mat-line>Videos</h4>
                    </mat-list-item>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <mat-toolbar>
                <span class='spacer'></span>
                <h3>© Injectronic.</h3>
                <span class='spacer'></span>
            </mat-toolbar>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>